@import "tailwindcss";

@plugin '../../hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

body {
    @apply min-h-screen
}

.bg-gradient-brand {
    @apply bg-linear-to-r from-sky-300 via-sky-300 to-sky-400;
    transition: background 0.3s ease;
}

.dark .bg-gradient-brand {
    @apply bg-linear-to-r from-cyan-900 via-cyan-950 to-sky-950;
}
